################################
# Discord Presence Application #
################################

# Leave it alone or make your own from
# https://discord.com/developers/applications
#
# If you make your own application, i've provided the assets on
# assets/discord_rpc_assets
# Just upload those, the filename/key is already matched.

DISCORD_CLIENT_ID=1387060456979566815
